* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#map { 
    height: 90vh; 
}

img.seven { 
    filter: hue-rotate(70deg);
}
img.six { 
    filter: hue-rotate(150deg); 
}
img.five { 
    filter: hue-rotate(170deg); 
}
img.four { 
    filter: hue-rotate(190deg); 
}
img.three { 
    filter: hue-rotate(210deg); 
}
img.two { 
    filter: hue-rotate(230deg); 
}
img.one { 
    filter: hue-rotate(250deg); 
}
img.zero { 
    filter: grayscale(100%); 
}